# data
ishu_auth.db
__pycache__/
*.pyc

# archives / backups
*.rar
*.zip

# os / editors
Thumbs.db
.DS_Store

# build output
IshuAuth_Package/examples/**/bin/
IshuAuth_Package/examples/**/obj/DiscordBot_Package/config.json
